{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="hero bg-base-200 min-h-screen">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
          <h1 class="text-5xl font-bold">Login now!</h1><br>
            {% if error %}
          <div 
            x-data="{ show: true }" 
            x-init="setTimeout(() => show = false, 5000)" 
            x-show="show"
            x-transition
            role="alert" 
            class="alert alert-warning shadow-sm transition-opacity duration-500 text-sm max-w-sm mx-auto p-2 mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 
                  2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 
                  0L3.34 16c-.77 1.333.192 3 1.732 3z" />
              </svg>
              <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
          </div>
            {% endif %}
            {% if app.user %}
                <p class="py-6">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </p>
            {% endif %}
        </div>
        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
          <div class="card-body">
          <form method="post">
              <label class="label">Email</label>
              <input type="email" class="input" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" />
              <label class="label">Password</label>
              <input type="password" class="input" placeholder="Password" name="password" id="inputPassword"  /><br>
              <div>
                <input type="checkbox" name="_remember_me"> Remember me
                <br >    
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                <br >
                <a class="link link-hover">Forgot password?</a>
              </div>
              <button class="btn btn-neutral mt-4" tyoe="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

