{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
 <p class="font-mono text-xl pl-10">Categories {{categories.name}}</p>
<div class="flex"> 
    <div class="card-body flex pt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a href="{{ path('app_products_show', {'id': product.id}) }}">show</a>
                        <a href="{{ path('app_products_edit', {'id': product.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_products_index') }}">Back to all categories</a>
        <a href="{{ path('app_products_new', {'id': categories.id}) }}">New product</a>
    </div>
</div>

    
{% endblock %}
